@import "tailwindcss";

:root {
    --bg-color: #333;
    --bg-components: #222;
    --border-components: #aaaa;
    --text-color: #fff;
    --text-color-op: #000;
    --second-color: #1B2E2B;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

@media (prefers-color-scheme: light ){
    :root {
        --bg-color: #F0F9F6;
        --bg-components: #fff;
        --border-components: #3333;
        --text-color: #000;
        --text-color-op: #fff;
        --second-color: #1B2E2B;
    }

    body {
    background-color: var(--bg-color);
    color: var(--text-color);
    }
}